@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

*{margin: 0;padding: 0;box-sizing: border-box;}
.common_wrap{margin: 0 auto;max-width: 1660px;padding: 0 20px;}
.clear:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0;}
main{float: left;width: 100%;height: 100vh; animation: color 10s 1s alternate infinite;}
a{text-decoration: none;}
header, footer, section{float: left;width: 100%;}

/* header section  */

.header_section{float: left;width: 100%;background-image: linear-gradient(to left,#000000,#000000,#000000,#212121);}
.header_logo_wrap{float: left;width: 100%;display: flex;align-items: center;justify-content: space-between;}
.header_logo{float: left;width: 120px;margin: 40px 0;}
.header_logo a img{float: left;width: 100%;}
.nav_link{float: right;width: 650px;}
.nav_link nav ul li{float: left;list-style: none;margin-right: 77px;}
.nav_link nav ul li a{float: left;text-decoration: none;letter-spacing: 2px; color: #FFFFFF;font-family: 'Libre Franklin', sans-serif;position: relative;}
.nav_link nav ul li a::after{content: ""; position: absolute; width: 0;height: 1px;background-color: #FCA047;top: 30px;left: 0;}
.nav_link nav ul li a:hover{color: #FCA047;transition:0.3s;}
.nav_link nav ul li a:hover::after{width: 100%;transition: 0.3s ;}
.hamburger {float: right;display: none;}
.bar {display: block;width: 25px;height: 3px;margin: 5px auto;-webkit-transition: all 0.3s ease-in-out;transition: all 0.3s ease-in-out;background-color: #ff4800;}



/* herro section  */

.hero_section{float: left;width: 100%;background-image: url(../img/Untitled-1.jpg);background-position: center;background-repeat: no-repeat;background-size: cover;}
.hero_section .common_wrap{max-width: 1500px;}
.hero_contant_wrap{float: left;width: 600px;margin: 200px 0 300px 0;}
.hero_contant_wrap .onwer_name{float: left;width: 100%;}
.hero_contant_wrap .onwer_name h1{float: left;font-size: 20px;font-size: 70px; color: #FFAF4B;font-family: 'Rajdhani', sans-serif;font-weight: 300;}
.hero_contant_wrap .onwer_name span{color: #FF5B44;}
.onwer_ability{float: left;width: 100%;margin-bottom: 30px;}
.onwer_ability h2{ color: #FFFFFF;text-transform: uppercase;font-size: 40px;  font-family: 'Russo One', sans-serif;}
.onwer_info_wrap_box{float: left;width: 100%;display: flex;align-items: center; justify-content: space-between;margin-bottom: 30px;}
.onwer_info_wrap_box .info_button{float: left;width: 300px;height: 75px;background-color: #363636;border: 5px solid #FFFF06;}
.onwer_info_wrap_box .info_button a{text-align: center;line-height: 75px;display: block;color: #FFFFFF;font-family: 'Rajdhani', sans-serif;font-weight: 400;}
.date{float: right;width: 200px;}
.date span{color: #FCA047;font-size: 40px; font-family: 'Rajdhani', sans-serif;font-weight: 400;}
.fill_contant{float: left;width: 100%;position: relative;}
.fill_contant p{float: left;color: #FFFFFF;font-size: 20px;font-family: 'Libre Franklin', sans-serif;font-weight: 300;line-height: 35px;letter-spacing: 1.5px;}

.midea{width: 50px; position: absolute;left: 0;top: 50%;transform: translate(0,-50%); display: flex;justify-content: space-between;flex-flow: row wrap; position: fixed;gap: 10px;}
.midea a img{float: left;width: 100%;}
.sin{position: absolute;width: auto;left: 100px;top:80px}
/* footer section  */

.footer_section{float: left;width: 100%;margin-top: -40px;}
.footer_section .common_wrap{margin: 0 auto; width: 1850px;}
.port_box{float: left;width: 760px;}
.port_box ul li{float: left;list-style: none;color: #FCA047;margin-left: 20px;font-family: 'Libre Franklin', sans-serif;font-weight: 400;}
.port_box ul li span{color:#FFFFFF;}
.bright_box{float: right;width: 440;}
.bright_box h2{float: right;color: #FFFFFF;text-transform: uppercase;font-family: 'Libre Franklin', sans-serif;}







@media only screen and (max-width: 798px) {

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    input[type="search"],
    input[type="number"],
    input[type="submit"],
    input[type="password"],
    select,
    textarea {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }


    .nav_link {
        display: none;
    }

    .hamburger {
        display: block;
        cursor: pointer;
        margin: 34px 0;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

}
